<!--##########################################-->
<!--REVIEWS WIDGET-->
<!--##########################################-->
	
<article class="container">
  <header> 
		<div class="label">Reviews</div>
		<ul class="widget-list">
	      <li>
	        <img class="profile-thumb" src="/images/p1.jpg" ></img>
	        <div class="content">
	          <hgroup>
	            <h3 class="name">Christine A.</h3>
	            <span class="stars">
	              <img src="/images/stars.png"></img>
	            </span>
	            <span class="date">11/9/2012</span>
	          </hgroup>
	          <p>I dream about Don Antonio's chips and salsa when I'm not in LA.  Seriously. This has been my family's favorite Mexican restaurant for about 15 years.  Whenever my uncle visits from Connecticut, he makes us drive here straight from the airport, no matter what time it is!</p>
	        </div>
	      </li>
	      <li>
	        <img class="profile-thumb" src="/images/p2.jpg" ></img>
	        <div class="content">
	          <hgroup>
	            <h3 class="name">Valerie P.</h3>
	            <span class="stars">
	              <img src="/images/stars.png"></img>
	            </span>
	            <span class="date">11/9/2012</span>
	          </hgroup>
	          <p>BEST MEXICAN FOOD IN LA!!!!!!! The tacos are good, but if you love cheese as much as I do, you gotta order "Queso Fundido". Just do it. You will thank me later because to sum it up, DA's is a fab Mexican food place with good food and yummy drinks.</p>
	        </div>
	      </li>
		 <li>
	        <img class="profile-thumb" src="/images/p3.jpg" ></img>
	        <div class="content">
	          <hgroup>
	            <h3 class="name">Tasha I.</h3>
	            <span class="stars">
	              <img src="/images/stars.png"></img>
	            </span>
	            <span class="date">11/9/2012</span>
	          </hgroup>
	          <p>I have been to Don Antonio's so many times I am shocked I haven't written a Yelp review until now! The ambiance is fun and the servers are always nice and friendly. The food is great and reasonably priced (the lunch specials are a crazy good deal if you happen to work in the area). I've been a few times on Taco Wednesday and even though it can be crowded, it's worth it. How can you go wrong with $1.25 tacos?!</p>
	        </div>
	      </li>
	    </ul>
	</header>
</article>

<div style="height:20px;"></div>
