<meta charset="UTF-8" />	
<meta name="language" content="en_US">
<meta http-equiv="content-language" content="en_US">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<!-- Moving JS files locally to application.html.erb -->
<script type="text/javascript">
var SITE_URL = '';
var THEME_URL = '';
</script>


<link rel="stylesheet" href="http://thenextweb.com/wp-content/themes/icetea/assets/stylesheets/styles.css" type="text/css" />
<!--[if lt IE 9]>
<link rel="stylesheet" href="http://thenextweb.com/wp-content/themes/icetea/assets/stylesheets/ie.css?1355331683" type="text/css" />
<![endif]-->
<!--[if lte IE 9]>
<style>.loop-post { width: 47%; float: left; margin-right: 3%; }</style>
<![endif]-->

<!-- ### MOVING JS FILES TO LOCAL DIR -->
<script src="http://thenextweb.com/wp-content/themes/icetea/assets/js/libraries.js?1355331683" type="text/javascript"></script>
<script src="http://thenextweb.com/wp-content/themes/icetea/assets/js/tnw.js?1355331683" type="text/javascript"></script>


<script type="text/javascript">
var _gaq = _gaq || [];
</script>

	
	<script type="text/javascript">	
	function absoluteOffset(elem) {
	    return elem.offsetParent && elem.offsetTop + absoluteOffset(elem.offsetParent);
	}
	
	function scrollToElement(elem) {
	    window.scroll(0,absoluteOffset(elem));
	}
	</script>
	
<style type="text/css">
#pageslide {
	/* These styles MUST be included. Do not change. */
	display: none;
	position: fixed;
	overflow:scroll;
	top: 0;
	height: 100%;
	z-index: 999;

	/* Specify the width of your pageslide here */
	padding-top: 0px;
	margin-top:-2px;
	width: 220px;

	/* These styles are optional, and describe how the pageslide will look */
	background-color: #333;
	background: #424242;
	border-right: 0px;
}

#header {left:auto;}

#slide-menu { height: 40px; line-height: 50px; font-weight: 400; width: 100%; position: relative; z-index: 100; padding: none; }
.slide-menu-tab li {border-bottom: 1px solid #333; border-top: 1px solid #777; border-left: 0px; border-right: 0px; }
.slide-menu-tab li a { font-size:100%; color: #fff; font-weight: bold; letter-spacing: 2px; padding-left: 10px; }
#pf-site-menu { float: left; padding-top: 5px; }
#pf-site-menu li { text-transform: uppercase; padding: 0 0.625em; position: relative; top: 6px; left: -10px}
#pf-site-menu li a { padding: 0; }
#pf-site-menu li a.active { border-top: 2px solid #fff; font-weight: bold; line-height: 36px; }
#pf-site-menu li:hover #academy-menu { display: block; }

/* Search form properties */
#search-form { display: none; float: none; width: 100%; background: #ef4423; padding: 0.5em 0.5em; border-bottom: 1px solid #fff; border-top: 1px solid #fff; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; height: 50px; }
#search-form .search-input { width: 100%; height: 30px; line-height: 30px; padding: 0 1em; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; background: #fff; color: #424242; }
#search-form .search-button { display: none; }

/* Menu items properties */
.blog-menu { display: none; width: 100%; text-align: right; }
.blog-menu li { width: 100%; text-align: right; background: #ef4423; border-bottom: 1px solid #fff; }
.extra-menu { margin: 0; display: block; }
#header .extra-menu li { width: 100%; background-color: #851F27;border-left:0;border-bottom: 1px solid #cfcece;font-size: 18px;}
#header .extra-menu li:first-child { width: 100%; background-color: #851F27;border-left:0;border-top: 1px solid #cfcece;font-size: 18px;}
#header .extra-menu { display: block; position: relative; }
.extra-menu li { width: 100%; text-align: right; background-color: #851F27; border: 0px solid #cfcece; font-size: 18px;}
#toggle-extra-menu { width: 100%; height: auto; padding: 0px; line-height: 12px; border: none; }
#toggle-extra-menu .icon-info { display: none; }

</style>

<%= stylesheet_link_tag "widgets" %>

<body>
	<div id="header" style="line-height: 0px;">
		<div id="slide_popup" style="display:none;">
			<div id="slide-menu">
				<ul class="slide-menu-tab" style="background-color: #424242;">
					<li><a href="#">Don Antonio's'</a></li>
					<li><a href="/merchant">Home</a></li>
					<li><a href="javascript: load_content()" id="merchant_about">About</a></li>
					<li><a href="javascript: load_content()" id="merchant_contact">Contact</a></li>
					<li><a herf="javascript: load_content()" id="merchant_location">Location</a></li>
					<li><a href="javascript: load_content()" id="merchant_gallery">Gallery</a></li>
					<li><a href="javascript: load_content()" id="merchant_specials">Specials</a></li>
					<li><a href="javascript: load_content()" id="merchant_reviews">Reviews</a></li>																							
				</ul>
			</div>
		</div>
		<div class="wrapper clearfix" style="background-color: #851F27;">
			<div id="slide_popup"><a href="#slide_popup" class="popout"></a></div>

			<ul id="pf-site-menu" style="background-color: #851F27;">
				<a href="#slide_popup" class="popout"><img src="images/icon-navmenu.png"></a>
			</ul>

			<div id="toggle-buttons">
				<div id="toggle-blog-menu" style="border-left: 1px solid #fff; width: 95px; line-height: 50px;">menu<i class="icon-arrowdown" style="padding-left: 10px"></i></div>
				<div id="toggle-search" style="border-left: 1px solid #fff; width: 50px; line-height: 50px;"><i class="icon-search"></i></div>
			</div>

			<div id="search-form" style="background-color: #851F27;">
				<form action="/" method="get">
					<label for="s" class="search-button"><i class="icon-search"></i></label>
					<input type="text" name="s" class="search-input" placeholder="Coming Soon" />
				</form>
			</div>

			<ul class="blog-menu">
				<li id="toggle-extra-menu"><i class="icon-info"></i>
					<ul class="extra-menu">
						<li class="drop-down"><a href="/about/">Appetizers</a></li>
						<li class="drop-down"><a href="/contact/">Salads</a></li>
						<li class="drop-down"><a href="/team/">Soups</a></li>
						<li class="drop-down"><a href="/goodies/">Seafood</a></li>
						<li class="drop-down"><a href="/advertise/">Burritos</a></li>
						<li class="drop-down"><a href="/about/">Tostadas</a></li>
						<li class="drop-down"><a href="/team/">A La Carte</a></li>
						<li class="drop-down"><a href="/goodies/">Beverages</a></li>
						<li class="drop-down"><a href="/advertise/">Cocktails</a></li>
						<li class="drop-down"><a href="/about/">Desserts</a></li>
						<li class="drop-down"><a href="/contact/">Combinations</a></li>
						<li class="drop-down"><a href="/contact/">House Specials</a></li>
					</ul>
				</li>
			</ul>						
		</div>
	</div><!-- #header -->

	<div id="content">
		<div id="stream" style="display:none;"></div>

		<!--##########################################-->
		<!--ABOUT US WIDGET-->
		<!--##########################################-->
		
		<div style="height:10px;background-color:#F4F0ED"></div>
		
		<article class="container">
			<header> 
				<ul class="widget-list">
					<li class="widget-container">
						<img class="thumb" src="/images/logo.png" ></img>
						<div class="content-text">
							<div class="name"><strong>Don Antonio's</strong><br>Serving since 1982</div>		            
						</div>
						<div class="content-text-left-aligned">
							<hgroup>
								<p>Welcome friends to the best Mexican food in Los Angeles. You may have a hard time finding the hostess stand, but you can't miss the vibrant atmosphere, good times and great food.</p>
								<div style="height:20px;"></div>
								<p>Family owned and operated, Don Antonio's has been serving up authentic Mexican cuisine since 1982.</p>
							</hgroup>  
						</div>
					</li>
				</ul>
			</header>
		</article>

		<div style="height:10px;background-color:#F4F0ED"></div>

		<!--##########################################-->
		<!--ADDRESS WIDGET-->
		<!--##########################################-->

		<article class="container">
			<header style="border-bottom:none;"> 
				<ul class="widget-list">
					<li class="widget-container">
						<img class="thumb-map-icon" src="/images/logo.png" ></img>
						<div class="content-map-text">
							<div class="name"><strong>11755 West Pico Blvd.</strong><br>Los Angeles, CA 90064</div>		            
						</div>
					</li>
				</ul>
			</header>
		</article>
		<article class="container">
			<header> 
				<ul class="widget-list">
					<li class="widget-container">		
						<span class="map">
							<img src="/images/map.png"></img>
						</span>
					</li>
				</ul>
			</header>
		</article>

		<div style="height:20px;"></div>

		<!--##########################################-->
		<!--CALL WIDGET-->
		<!--##########################################-->

		<div style="padding-right:25px;">
			<a style='border-radius:2px;text-decoration:none;' id='book_button'><div style="display:inline;margin-top:10px;padding: 15px 10px 0 0;"><img style="vertical-align:middle;padding-bottom:5px;" src='/images/call.png'></img></div><div style="display:inline;margin-top:100px;">Call Us</div></a>
		</div>

		<div style="height:20px;"></div>

		<!--##########################################-->
		<!--HOURS WIDGET-->
		<!--##########################################-->

		<article class="container">
			<header> 
				<ul class="widget-list">
					<li class="widget-container">
						<div class="hours">
							<span class="name">Hours&nbsp;&nbsp;<strong>10:30 am - 11:00 pm</strong></span>
							<span><img src="/images/arrow.png" style="float:right;vertical-align:middle;;" width="30"></img></span>         
						</div>
					</li>
				</ul>
			</header>
		</article>       

	</div><!-- #content -->

	<div id="mq_desktop"></div>
	<div id="mq_tablet"></div>
	<div id="mq_phone"></div>

	<script type="text/javascript">
	
	$(function(load_content) {
		$("#merchant_reviews").click(function() {
			//alert('About us page');
			//$("#main2").html('#{escape_javascript(render :partial => "about")}');
			$.pageslide.close();
			var content = "<%= escape_javascript(render(:partial => 'reviews')) %>";
			$("#content").html(content);
		})
	})
	</script>

	<script>

	// 
	// var getDimensions = document.createElement("div");
	// getDimensions.setAttribute("style","visibility:hidden;position:fixed;bottom:0px;right:0px;");
	// document.getElementsByTagName("body")[0].appendChild(getDimensions);
	// var viewportWidth = getDimensions.offsetLeft;	
	// var buttonWidth = ((viewportWidth-20)/viewportWidth).toString()*100+'%';
	// alert(buttonWidth);
	// document.getElementById('book_button').style.width = buttonWidth;
	// 

	$(function() {
		$widgetList = $(".widget-list");
		$widgetItems = $widgetList.find("li");

		$widgetItems.on('click', function() {
			$(this)
			.addClass('selected');
		});

		$buttons = $(".widget-button");
		$buttons.on('click', function() {
			$(this)
			.addClass('selected');
		});

	});

	</script>

	<script type="text/template" id="stream-item-template">
	<div class="thumb"></div>
	</script>
	<script src="javascripts/jquery.pageslide.min.js"></script>
	<script type="text/javascript">
	$(function(){
		$("#loadgallery").click(function(){
			$.pageslide.close();
		})
	})
	$(".popout").pageslide({ direction: "right"});

	</script>
</body>